.banner{
    position: relative;
}
.anh-banner{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.tieude-banner{
    position: absolute;
    top: 80px;
    left: 480px;
    line-height: 1.5;
}

.b1{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 47px;
    color: rgb(7, 7, 103);
}

.b2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 55px;
    color: rgb(13, 13, 120);
    line-height: 1.2;
}

.b3{
    font-family: 'Montserrat';
    font-weight: 380;
    font-size: 25px;
    color: rgb(7, 7, 103);
}

.tieude-banner a{
    text-decoration: none;
    width: 150px;
    font-family: 'Montserrat';
    font-size: 22px;
    color: rgb(7, 7, 103);
    border: 1px solid;
    border-color: rgb(7, 7, 103);
    padding: 3px;
    line-height: 2;
    
}

.b4{
    margin-top: 40px;
    width: 150px;
}

.danhmucphong{
    max-width: 1300px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;

}

.danhmucphong h2{
    text-align: center;
    background-color: rgb(49, 49, 166);
    color: white;
    padding: 10px;
}

.danhmucphong img{
    width: 400px;
    height: 450px;
    object-fit: cover;
}
