body{
    font-family: 'Roboto','Arial', sans-serif;
    margin: 0px;
}
.logo img{
    height: 75px;
    margin: 5px;
}
.container-header{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.fix-header{
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.nav a{
    color: navy;
    text-decoration: none;
    padding: 18px;
    font-size: 20px;
    font-weight: 520;
}

.giohang{
    width: 270px;
    display: flex;
    align-items: center;
}

.search-group{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.search-input{
    font-size: 13px;
    height: 23px;
    width: 180px;
    border-style: ridge;
    border-color: navy;
    border-radius: 5px;
    padding: 1px;
}

.search-button{
    height: 29px;
    width: 29px;
    background-color: transparent;
    border-style: none;
    position: relative;
    right: 28px;
}

.giohang-icon img{
    height: 40px;
}

.giohang-icon {
    display: flex;
    align-items: center; /* Căn icon và chữ thẳng hàng dọc */
    white-space: nowrap; /* Ép chữ không được xuống dòng */
}

.giohang-letter{
    color: navy;
    text-decoration: none;
    font-size: 15px;
    font-weight: 520;
}

/* footer */
footer{
    background-color: rgb(231, 236, 255);
    margin-top: 10px;
}


.container-footer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.chinh-sach{
    line-height: 1.5;
}

.chinh-sach img{
    height: 60px;
}

.thong-tin{
    line-height: 1.7;
}

.icon{
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly
}

.icon img{
    height: 40px;
    
}

/* Thiết bị Tablet (Dưới 1024px)  */
@media (max-width: 1024px) {
    
    .container-header {
        flex-direction: column; 
        padding: 10px;
    }
    .nav a{
    padding-top: 12px;
    padding-bottom: 12px;
    }
    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.nav-mobile-btn {
  display: none;
}


/* Thiết bị Di động (Dưới 768px) */
@media (max-width: 768px) {
    .container-header {
        flex-direction: column; 
        padding: 10px;
    }

    .them_vao_gio_hang {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .container-footer {
        flex-direction: column;
        text-align: center;
    }

    .nav a {
        padding: 10px;
        font-size: 16px;
    }

    .nav-input {
    display: none;
    }
    .nav-mobile-btn {
        display: inline-block;
        cursor: pointer;
        padding: 5px;
        order: 0;
        margin-right: auto;
    }
    .nav {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: rgb(217, 210, 255);
        padding-top: 10px;
        order: 3;
        animation: fadeIn 0.3s ease;
    }

    .nav-input:checked ~ .nav {
        display: flex;
    }
}
