body{
    font-family: 'Roboto','Arial', sans-serif;
    margin: 0px;
}

.logo img{
    height: 75px;
    margin: 5px;
}

.container-header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fix-header{
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.nav a{
    color: navy;
    text-decoration: none;
    padding: 18px;
    font-size: 20px;
    font-weight: 520;
}

.giohang{
    width: 270px;
    display: flex;
    align-items: center;
}

.search-group{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.search-input{
    font-size: 13px;
    height: 23px;
    width: 180px;
    border-style: ridge;
    border-color: navy;
    border-radius: 5px;
}

.search-button{
    height: 29px;
    width: 29px;
    background-color: transparent;
    border: none;
    position: relative;
    right: 28px;
}

.giohang-icon img{
    height: 40px;
}

.giohang-letter{
    color: navy;
    text-decoration: none;
    font-size: 15px;
}
.container-gioithieu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}
.gioithieu-text{
    width: 55%;
    line-height: 1.6;
}

.gioithieu-img{
    width: 40%;
    text-align: right;
}

.gioithieu-img img{
    width: 100%;
    height: auto;
}
