

:root{
    --primary-color: navy;
}




.banner-gioithieu{
    position: relative;
    background: url("../hinhanh/banner.png") no-repeat center center;
    background-size: cover;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
}

.banner-gioithieu::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.banner-gioithieu *{
    position: relative;
    z-index: 1;
}

.banner-gioithieu p{
    font-size: 40px;
}




section h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
}

.section-content{
    padding: 60px 5%;
}

.section-content h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: navy;
}




.content-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.content-flex .text{
    width: 50%;
    line-height: 1.8;
    font-size: 24px;
}

.content-flex .image{
    width: 50%;
    text-align: center;
}

.content-flex img{
    width: 100%;
    max-width: 500px;
}



.highlight{
    font-weight: bold;
    font-size: 28px;
    color: rgb(0, 28, 139);
}


/* Fade lên */
.fade-up {
    opacity: 0;
    transform: translateY(60px);

    animation: fadeUp linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Fade từ trái */
.fade-left {
    opacity: 0;
    transform: translateX(-60px);

    animation: fadeLeft linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* Fade từ phải */
.fade-right {
    opacity: 0;
    transform: translateX(60px);

    animation: fadeRight linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/* KEYFRAMES */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.image img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

.image:hover img {
    transform: scale(1.05);
}

.timeline{
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    box-sizing: border-box;
}

/* đường timeline */

.timeline:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul{
    margin: 0;
    padding: 0;
}

.timeline ul li{
    position: relative;
    width: 50%;
    list-style: none;
    box-sizing: border-box;
    padding: 20px 40px;
}

/* bên trái */

.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

/* bên phải */

.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}

/* dấu chấm timeline */

.timeline ul li:before{
    content: '';
    position: absolute;
    top: 30px;
    width: 12px;
    height: 12px;
    background: var(--primary-color);
    border-radius: 50%;
}

.timeline ul li:nth-child(odd):before{
    right: -6px;
}

.timeline ul li:nth-child(even):before{
    left: -6px;
}

/* nội dung */

.timeline ul li p{
    margin: 10px 0 0;
    line-height: 1.6;
    color: #555;
    font-weight: 600;
    font-size: 18px;
}

/* badge thời gian */

.timeline ul li .thoi_gian{
    position: absolute;
    top: 10px;
    padding: 6px 14px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .thoi_gian{
    right: -160px;
}

.timeline ul li:nth-child(even) .thoi_gian{
    left: -160px;
}





/* tablet */

@media (max-width:1024px){

    .banner-gioithieu{
        height: 400px;
        text-align: center;
        padding: 20px;
    }

    section h1{
        font-size: 45px;
    }

    .banner-gioithieu p{
        font-size: 28px;
    }

    .content-flex{
        flex-direction: column;
        text-align: center;
    }

    .content-flex .text,
    .content-flex .image{
        width: 100%;
    }

}


/* mobile */

@media (max-width:768px){

    .banner-gioithieu{
        height: 300px;
    }

    section h1{
        font-size: 32px;
    }

    .banner-gioithieu p{
        font-size: 20px;
    }

    .section-content{
        padding: 40px 20px;
    }

    .content-flex{
        flex-direction: column;
        gap: 30px;
    }

    .content-flex img{
        max-width: 100%;
    }

}


/* dienthoainho <=480 */

@media (max-width:480px){

    section h1{
        font-size: 26px;
    }

    .banner-gioithieu p{
        font-size: 18px;
    }

    .content-flex .text{
        font-size: 18px;
    }

    .highlight{
        font-size: 22px;
    }

}
.nav_bar.active {
    color: aliceblue;       
    background-color: navy;   
    border: 1px solid #444;
}
.nav_bar:hover:not(.active) {
    background-color: navy;
    color: aliceblue;
    border-color: #666;
}