*{
    font-family: 'Roboto','Arial', sans-serif;
    margin: 0px;
    padding: 0px;
}

.logo img{
    height: 75px;
    margin: 5px;
}
.container-header{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.fix-header{
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.nav a{
    color: navy;
    text-decoration: none;
    padding: 18px;
    font-size: 20px;
    font-weight: 520;
}
.slider {
    width: 100%;
    overflow: hidden;
    border: 2px solid black;
}
.slides {
  display: flex;
  width: calc(400px * 12);
  animation: scroll 10s linear infinite;
}

.slides img {
    width: 400px;
    height: 250px;
}
@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-1600px); } 
}
article {
    width: 1600px;
    margin: 20px 10px;
    padding: 20px;
}
article h3 {
    font-size: 30px;
    font-weight: 1000;
}
article h4 {
    font-size: 25px;
}
article h5 {
    float: left;
    font-size: 20px;
}
article h6 {
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
}
article .list {
    width: 1600px;
    
}
article .list .items {
    width: 395px;
    float: left;    
    margin-right: 1px;
    border: 1px solid gray;
}
article .list .items img {
    width: 395px;
    height: 250px;
    margin-right: 10px;
}
