* {
    box-sizing: border-box;
}
.items { width: 31%; }          /* Mặc định cho máy tính (3 cột) */
@media (max-width: 768px) {
    .items {                    /* Cho Tablet (màn hình dưới 768px) */
        width: 48%;
    }
}
@media (max-width: 480px) {   /* Cho điện thoại (màn hình dưới 480px) */
    .items {                       
        width: 90%;             
        max-width: 350px;    
    }
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
    }
    .goods_container .items img { 
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
    .buttons {
        height: auto;
        gap: 10px;
        padding-bottom: 10px;
    }
    main .slider {
        display: none;
    }
    .container_pagination {
        display: block;        
        width: 100%;     
        margin-left: auto;       
        margin-right: auto;     
        padding: 0;             
        margin-top: 40px;      
        margin-bottom: 40px;
    }
    main .pagination {
        display: flex;
        width: fit-content;
        margin: 0px auto;
    }
}
body{
    font-family: 'Roboto','Arial', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction:column ;
}
.logo img{
    height: 75px;
    margin: 5px;
}
.container-header{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fix-header{
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.nav a{
    display: flex;
    color: navy;
    text-decoration: none;
    padding: 18px;
    font-size: 20px;
    font-weight: 520;
}

.giohang{
    max-width: 270px;
    display: flex;
    align-items: center;
}

.search-group{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.search-input{
    font-size: 13px;
    height: 23px;
    width: 180px;
    border-style: ridge;
    border-color: navy;
    border-radius: 5px;
    padding: 1px;
    margin-top: 10px;
}

.search-button{
    height: 29px;
    width: 29px;
    background-color: transparent;
    border-style: none;
    position: relative;
    right: 28px;
    margin-top: 10px;
}

.giohang-icon img{
    height: 40px;
}

.giohang-letter{
    color: navy;
    text-decoration: none;
    font-size: 15px;
    font-weight: 520;
}
.goods_container, 
.container-footer {
    max-width: 1200px;  
    width: 90%;          
    margin: 0 auto;      
}
.slider {
    max-width: 1200px;
    width: 90%;
    margin: 20px auto ;
    overflow: hidden;
    border-radius: 12px;
}
.slides {
  display: flex;
  width: 1000%;
  animation: scroll 15s linear infinite;
}

.slides img {
    width: 400px;
    height: 250px;
    border: solid 2px red;
}
@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-1600px); } 
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
.container .items {
    flex: 0 1 calc(33.33% - 20px); 
    min-width: 280px;              
    padding: 15px;
    border: 3px solid rgb(180, 170, 170);
    box-sizing: border-box;        
    overflow-x: auto;
}
.container .items img { 
    width: 100%;
    height: 250px;
    display: block;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.buttons {
    display: flex;
    height: 100px;
    gap: 20%;
}
.cart_button {
    background-color: orange;
    color: brown;
    text-transform: uppercase;
    margin-left: 10px;
    border-radius: 8px;
    width: 40%;
}
.buy_button {
    background-color: green;
    color: azure;
    text-transform: uppercase;
    margin-right: 10px;
    float: right;
    border-radius: 8px;
    width: 40%;
}
.cart_button:hover {
    background-color: aqua;

}
.buy_button:hover {
    background-color: orangered;
    color: white;
}
.list {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.items {
    max-width: 395px;
    float: left;    
    margin-right: 1px;
    border: 1px solid gray;
    flex: 1 1 300px;
    box-sizing: border-box;
    border-radius: 8px;
}
.pagination {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;               
    margin: 40px 0;         
}
.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: gainsboro; 
    color: black;              
    text-decoration: none;
    border: 1px solid #333;  
    border-radius: 4px;        
    font-size: 18px;
    transition: 0.3s;        
}
.page-link.active {
    color: #ff4d4d;          
    border: 1px solid #444;
}
.page-link:hover:not(.active) {
    background-color: red;
    color: whitesmoke;
    border-color: #666;
}
footer{
    background-color: rgb(231, 236, 255);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.container-footer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.chinh-sach{
    line-height: 1.5;
}
.chinh-sach img{
    height: 60px;
}
.thong-tin{
    line-height: 1.7;
}
.icon{
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly
}
.icon img{
    height: 40px;
}